

h1 {
        
    color: #45859B;
    padding-left: 5px;
    margin-top: 15px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}



.hero-image {
    width:100%;
    height:700px;
    background: url('../images/keyboardBackground.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    margin-top: -15px;
    padding-top: 15px;
    color: #fff;
}

.hero-image h2 {
    text-align: center;
    padding-top: 40px;
}

.hero-image p{
    text-align: center;
}

#logo {
    color: #45859B;
    font-family: 'Great Vibes', cursive;
    font-size: 88px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}

header > a:link {
    text-decoration: none;
}

header > a:visited {
    text-decoration: none;
}

.bio {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio img {
    width: 70px;
    
}

#form {
    max-width: 50%;
    height: auto;
}

