//Load Fonts

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@1,300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6d73c2;

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;
$color-media-head: $blue;